extends ../layout
block title
  title Home
block style
  link(rel='stylesheet' href='/css/mystyles/trainee.css')
block content
  body
    if days.length > 0
      section.daysAdded.text-center
        .container
          p.lead Click on the number of the day to view it's exercises
          .row
            - let i = 0;
            - let j = 0;
            - let numberOfLoops = Math.ceil(days.length / 30);
            while i < numberOfLoops
              if j == 0 || j % 30 == 0
                .week.col-sm-12
                  while j < days.length
                    if days[j].whenToStart <= nowDate
                      a.day(href=`/traineeProfile/workout/${days[j].dayNumber}`)= days[j].dayNumber
                    else
                      span.day= days[j].dayNumber
                    - j++;
                    if j % 30 == 0
                      - break
              - i++;
    else
      section.noDaysAdd.text-center
        .container
          h3 Your training program is going to be ready within 48 hours or less, we will email you whenever it is ready.

block scripts