.restDay
  textarea(class="form-control", name="whatToDo", cols="85", rows="10")= restDay.whatToDo
  if restDay.video
    video(width='100%', height='50%', controls='')
      source(src=restDay.video, type='video/mp4')
      source(src=restDay.video, type='video/ogg')
      | Your browser does not support the video tag.
  else
    br
    h4 You haven't uploaded a video