extends ../layout
block title 
  title Home
block style
  link(rel='stylesheet' href='/css/mystyles/coach.css')
block content
  body
    section.traineesContainer.text-center
      .container
        if trainees.length > 0
          .row
            table.col-sm-12.trainee
              thead
                tr
                  td Trainee name
                  td Current Status
              tbody
                each trainee in trainees
                  tr
                    td
                      a(href=`/coachProfile/manageTrainee/${trainee.traineeId}`)= trainee.user.userName
                    td
                      span.traineeStatus= trainee.status
        else
          .noTrainees You have no trainees
