extends ../layout
block title
  title Edit Day
block style
  link(rel='stylesheet' href='/css/mystyles/coach.css')
block content
  body
    .container
      form#editDay(action=`/coachProfile/editDay/${traineeId}/${dayNumber}`, method="post")
        .form-group
          select(class="form-control day" name="chooseActivity", autofocus, required)
            option(value="") Select what to do
            option(value="1") Workout
            option(value="2") Rest Day
        .form-group
          div(id="workouts")
          div(id="restDays")
        button(class="btn btn-primary py-3 px-5 col-sm-12", form="editDay" type="submit") Save Changes
block scripts
  script.
    let days = $('.day');
    for(let i = 0; i < days.length; i++) {
      days[i].addEventListener("change", function() {
        let workoutsOrRestDays = this.value;
        if (workoutsOrRestDays == "") {
          document.getElementById("workouts").innerHTML = "";
          document.getElementById("restDays").innerHTML = "";
          return;
        } else {
          xmlhttp = new XMLHttpRequest();
          xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              if (workoutsOrRestDays == 1) {
                document.getElementById("workouts").innerHTML = this.responseText;
                document.getElementById("restDays").innerHTML = "";
              }
              if (workoutsOrRestDays == 2) {
                document.getElementById("restDays").innerHTML = this.responseText;
                document.getElementById("workouts").innerHTML = "";
              }            
            }
          };
          if (workoutsOrRestDays == 1 || workoutsOrRestDays == 2) {
            xmlhttp.open("GET","/coachProfile/workoutsOrRestDays?value=" + workoutsOrRestDays,true);
            xmlhttp.send();
          }
        }
      })
    }