/* Overriding The Current Template */
.ftco-navbar-light {
  position: relative;
}

/* All Admin Pages */
.dropdown .dropbtn {
  font-size: 13px;  
  border: none;
  color: white;
  background-color: inherit;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  color: #e5ce48;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 225px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 10px 0px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Trainee info */
#activate-program {
  font-size: 18px;
  margin-bottom: 15px;
}