/* Overriding The Current Template */
.ftco-navbar-light {
  position: relative;
}

/* All Trainee Pages */
.dropdown .dropbtn {
  font-size: 13px;  
  border: none;
  color: white;
  background-color: inherit;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  color: #e5ce48;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 225px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 10px 0px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Sign up */     
.signup #traineeSignup {
  margin: 10px 0px 40px 0px;
}

/* Complete Registration */
.completeRegistration {
  background: url(/images/image_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px;
  color: #fff;
}
.completeRegistration .completeRegistration-container {
  background: rgba(0.5, 0.5, 0.5, 0.8);
  min-height: 600px;
}
.show-profile {
  border-radius: 50%;
  display: block;
  margin: 5px auto;
}
.whatsapp-numbers {
  margin-top: 30px;
  margin-bottom: 30px
}

/*
.completeRegistration #completeRegistration {
  margin: 0px 0px 40px 0px;
}
*/

/* Before Starting Date */
.beforeStartingDate {
  margin: 90px 0px;
}

/* Trainee Home Page */
.daysAdded {
  margin: 125px 0px;
}
.day {
  padding: 10px;
}
.done {
  margin-top: 5px;
}
.noDaysAdd {
  margin: 145px 0px;
}

/* Day Details */
.dayDetails {
  margin: 50px 0px;
}
.dayDetails form button {
  margin-top: 10px
}

/* Workout Details */
.exercises {
  margin: 25px 0px;
}
.frame {
  padding: 20px;
  border: 1px solid;
}
.workoutExercises {
  font-size: 16px;
  font-weight: bold;
  min-width: 260px;
}
/* Rest Day Details */
.restDay {
  padding: 20px 0px;
}

/* Available Time Slots */
.timeSlots {
  background: url(/images/image_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff
}
.timeSlotsContainer {
  background: rgba(0.5, 0.5, 0.5, 0.7);
  padding: 80px 0px;
}
.timeSlotsContainer .table tbody tr .dayName {
  border: 1px solid #fff
}
.noTimeSlots {
  margin: 145px 0px;
}

/* Ask Coach */
.messaging { padding: 0 0 50px 0;}
.messaging h3 { margin: 20px 0px 40px 0px}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}

.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 100%;
}
.msg_history {
  height: 650px;
  overflow-y: auto;
}
.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}
.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
/* Trainee General Account Settings */
.signup #traineeSignup {
  margin: 10px 0px 40px 0px;
}

/* Choose Hour For Private Sessions */
.availableTimeSlots, .noAvailableTimeSlots {
  padding: 58px 0px;
}
.availableTimeSlots .dayData {
  padding: 15px 0px;
}