extends ../layout
block title 
  title Administration Panel
block style
  link(rel='stylesheet' href='/css/mystyles/admin.css')
block content
  body
    section.dashboard
      .container
      h3.text-center(style="margin: 140px auto") Welcome ya admon
