extends ../layout
block title 
  title Administration Panel
block style
  link(rel='stylesheet' href='/css/mystyles/admin.css')
block content
  body
    section.dashboard
      .container
      h4.text-center(style="margin: 142px auto") هنبقى نكتب هنا اي محشي ورق كلام عشان مفيش مرارة دلوقتي
