extends ../../layout
block title
  title Create Workout
block style
  link(rel='stylesheet' href='/css/mystyles/coach.css')
block content
  body
    section.createWorkout.text-center
      .container
        if errors
          each error in errors
            .alert.alert-danger= error.msg

        form(id="createWorkout" action="/coachProfile/workouts/new" method="post")
          .form-group
            input(class="form-control", type="text", name="workoutName", placeholder="Workout Name", required, autofocus)
          .form-group
            - let i = 0;
            select(class="form-control", onchange='showCategoryExercises(this.value);', onblur="addOrRemoveExercises()" autofocus)
              option(value="") Choose category to view it's exercises
              while i < exercises.length
                option(value= exercises[i].DISTINCT)= exercises[i++].DISTINCT
          .form-group
            .row
              .col-sm-6
                h5 Exercises to choose from
                span Click on the exercise to choose it
                #exercisesToChooseFrom
              .col-sm-6
                h5 Exercises
                span Click on the exercise to remove it
                #choosedExercises
          input(class="btn btn-primary py-3 px-5 col-sm-12" type="submit", value="Save Workout" form="createWorkout")

block scripts
  script.
    function showCategoryExercises(category) {
      if (category == "") {
        document.getElementById("exercisesToChooseFrom").innerHTML = "";
        return;
      } else {
        xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            document.getElementById("exercisesToChooseFrom").innerHTML = this.responseText;
          }
        };
        xmlhttp.open("GET","/coachProfile/exercisesByCategory?category="+category,true);
        xmlhttp.send();
      }
    }
    function addOrRemoveExercises() {
      let notAddedExercises = $('.notAddedExercise');
      for (let i = 0; i < notAddedExercises.length; i++) {
        notAddedExercises[i].addEventListener("click", function() {
          // New exercise container
          let newExercise = document.createElement("div");

          // New exercise input
          let exercise = document.createElement("input");
          exercise.setAttribute('class', 'exercise btn btn-dark');
          exercise.setAttribute('name', 'exercise');
          exercise.setAttribute('value', this.value);
          exercise.setAttribute('readonly', true);
          
          // New exercise sets
          let sets = document.createElement("input");
          sets.setAttribute('type', 'number');
          sets.setAttribute('class', 'sets');
          sets.setAttribute('name', 'sets');
          sets.setAttribute('required', 'required');
          sets.setAttribute('min', 1);
          sets.setAttribute('placeholder', 'Sets');
          // New exercise reps
          let reps = document.createElement("input");
          reps.setAttribute('type', 'number');
          reps.setAttribute('required', 'required');
          reps.setAttribute('class', 'reps');
          reps.setAttribute('name', 'reps');
          reps.setAttribute('min', 1);
          reps.setAttribute('placeholder', 'Reps');

          // Adding the new exercise data to the container and adding that container to the exercises
          $(newExercise).append(exercise);
          $(newExercise).append(sets);
          $(newExercise).append(reps);
          $('#choosedExercises').append(newExercise);

          // Removing the exercise because it has been choosen
          this.remove();
          
          // Removing exercise from the choosen exercises
          let exercises = $('.exercise');
          for (let i = 0; i < exercises.length; i++) {
            exercises[i].addEventListener("click", function() {
              this.parentElement.querySelector('.sets').remove();
              this.parentElement.querySelector('.reps').remove();
              this.remove();
            });
          }
        });
      }
    }