form(action="/coachProfile/deleteWorkout", method="post", onsubmit="return validateMyForm()")
  input(type="hidden", name="workoutId" value=workoutId)
  button(class="delete-workout btn btn-primary py-3 px-5 col-sm-12", type="submit") Delete
.row
  - let i = 0;
  while i < exercises.length
    .col-sm-4.frame
      .text-primary=`${exercises[i].exerciseName}`
      p
        span=`${exercises[i].exercise.sets} Sets `
        span=`${exercises[i].exercise.reps} Reps`
    - i++;